/* put your styles here */

.content {
   background: url("../img/graph_paper.jpg");
}

body {
   background: url("../img/wood.jpg");
}

.example {
   background: #fff;
   -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
   padding: 1em;
}

.legalJazz {
   margin-top: 1em ;
   padding-top: 20px;
   background-color: #fff;
   div p {
      font-size: 75%;
      line-height: 1.6*.75;
   }
}

.navList {
   list-style-type: none;
   li a {
      color: #ccc !important;
      font-family: sans-serif;
      font-size: 1rem;
   }
   li {
      padding-top: 0.66667rem;
      padding-bottom: 0.66667rem;
      border-bottom: 1px solid #262626;
      transition: background 300ms ease;
      margin-left: -1.1rem;
      padding-left: 1.1rem;
      &:hover {background: #241414;}
   }
   a {
      display: inline-block;
      height: 100%;
      width: 100%;
      &:hover {text-decoration:none;}
   }
}

nav.tab-bar section.left-small a.left-off-canvas-toggle {
   background-image: url("../img/menu-hand.png");
   height: 100%;
   width: 100%;
   display: block;
}

.symbol{font-family: "Segoe UI Symbol",Symbola;}
